<% provide(:title, "Sign up!") %>

<div class="signup">

  <div class="masthead">
    <div class="row main-container">

      <div class="twelve columns masthead-content">
        <h1>Sign up to play Magnets!</h1>
        <div class="row">
          <div class="eight columns signup-form">
            <%= form_for @user do |f| %>

              <%= f.label :username %>
              <%= f.text_field :username %>

              <div class="row">
                <div class="six columns">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name %>
                </div>
                <div class="six columns">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name %>
                </div>
              </div>

              <%= f.label :email %>
              <%= f.text_field :email %>

              <div class="row">
                <div class="six columns">
                  <%= f.label :password %>
                  <%= f.password_field :password %>
                </div>
                <div class="six columns">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation %>
                </div>
              </div>
              <div class="signup-button">
                <%= f.submit "Let's play!", class:"button large radius join-button" %>
              </div>

            <% end %>
          </div>

          <div class="signup-right four columns">
            <h2>Yay! We're so excited!</h2>
            <p>We will never ever spam you with anything ever. We absolutely swear it.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>