<div class="masthead">
  <div class="row main-container">
    <div class="twelve columns centered masthead-content">
      <h1>New Game</h1>
      <%= simple_form_for @game do |f| %>
        <%= f.input :name %>
        <%= f.input :round_limit, collection: 5..20 %>
        <%= f.hidden_field :user_id, :value => current_user.id %>

        <%= f.input :user_ids,
                    collection: @users,
                    label_method: :username,
                    value_method: :id,
                    as: :check_boxes
         %>

        <%= f.submit "play!", class: "button large radius" %>
      <% end %>
    </div>
  </div>
</div>