<div class="masthead">
  <div class="row main-container">
    <div class="twelve columns centered masthead-content">

      <h1><%= @game.name %></h1>
      <div class="row">
        <%= render "player_score_table" %>
        <div class="game-info">
          <h4 class="subheader">Game Round: <%= @game.current_round.round_number %></h4>
          <h5 class="subheader">Rounds Left: <%= @game.round_limit - @game.current_round.round_number %>
          <h5 class="subheader">Game Creator: <%= link_to @game.user.username, @game.user %></h5>
        </div>
        <div class="prompt">
          <h3>The Prompt:</h3>
          <h4 class="subheader"><%= @current_round.prompt.body %></h4>
        </div>
      </div>




      <% if !@player_poem.game_played %>

      <h3>Play your turn</h3>
      <%= render "layouts/magnets" %>
      <% else %>
      <%= link_to "vote, yo", vote_game_path, class: "button large radius" %>
      <% end %>


      <pre>
      Todo list:
      more stuff
      </pre>

    </div>
  </div>
</div>