<footer>
  <div class="top-footer row">
    <div class="twelve columns">
      <div class="footer-links row">
        <div class="two columns top-footer-links">
          <p><strong>Magnets</strong><p>
          <ul>
            <li><%= link_to "random", "#" %></li>
            <li><%= link_to "foo bar", "#" %></li>
            <li><%= link_to "bars of foo", "#" %></li>
          </ul>
        </div>

        <div class="two columns top-footer-links">
          <p><strong>Magnets</strong><p>
          <ul>
            <li><%= link_to "strings eat", "#" %></li>
            <li><%= link_to "eat more", "#" %></li>
            <li><%= link_to "jellyfish", "#" %></li>
          </ul>
        </div>

        <div class="two columns top-footer-links">
          <p><strong>Magnets</strong><p>
          <ul>
            <li><%= link_to "peepsss", "#" %></li>
            <li><%= link_to "random", "#" %></li>
            <li><%= link_to "pepsi cola", "#" %></li>
          </ul>
        </div>

        <div class="four columns social-footer">
          <p><strong>Like Magnets? Share it with your friends!</strong></p>
          <h4><a href="#">Facebook</a></h4>
          <h4><a href="#">Twitter</a></h4>
          <h4><a href="#">Reddit</a></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-footer">
    <div class="row">
      <div class="twelve columns">
        <p class="muted">
          <strong>All the fun and obscenity of magnet poetry, now with your friends!</strong>
        <br>
        © Sean Woojin Kim 2012.
        </p>
      </div>
    </div>
  </div>

</footer>